<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Tele NP App">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
<!-- The hangout API JavaScript. Always include this first -->
<script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.0"></script>

<!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development -->
     
<script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
     
<script src="//awesometelenp.appspot.com/static/app.js"></script>
<!-- script src="app.js"></script -->

<body style="background-color: #999">
<div style="float: left; padding: 0px 20px; background-color: #999">

<h1><img src="//awesometelenp.appspot.com/static/hangouts-logo.png" 
    alt="-- " height="50" width="50">Controls</h1>
 
  <input type=button value="Try Left" id="tryLeftButton"
      onClick="tryLeftClick()"/><br><br>
  <input type=button value="Try Right" id="tryRightButton"
      onClick="tryRightClick()"/><br><br>
  <input type=button value="Try Up" id="tryUpButton"
      onClick="tryUpClick()"/><br><br>
  <input type=button value="Try Down" id="tryDownButton"
      onClick="tryDownClick()"/><br><br> 
  <input type=button value="Stop/Reset" id="tryStopButton"
      onClick="tryStopClick()"/><br><br>   
  <br><br>
  <input type=checkbox value="Turtlebot" id="setTurtlebot"
        onClick="tryTurtlebotClick()">Turtlebot Node?</input>
         
</div>
<!--div style="clear: both;"></div -->
</body>
]]></Content>
</Module>
