<launch>
 
 <!-- launch mongod on port 27018. Used for turtlebot_db.py -->
    
  <param name="warehouse_port" value="27018"/>

  <node name="mongo" type="mongo_wrapper_ros.py" pkg="warehouse_ros" output="screen">
    <param name="database_path" value="warehouse_data"/>
    <param name="overwrite" value="false"/>
    <param name="warehouse_port" value="27018"/>
  </node>
 

  <!-- node name="map_server" pkg="map_server" type="map_server" args="'$(arg map_file)' '$(arg map_resolution)'" -->
     <!-- Remaps to load the map file --> 
     <!-- remap from="/static_map" to="/dynamic_map" / -->
     <!-- remap from="/map" to="/map_unused" / -->
     
  <!-- /node -->
  
  <!-- node pkg="map_store" type="add_map.py" name="add_map" args="'$(arg map_name)'" required="false"-->
</launch>
