<launch>
  <!-- here we set a launcher for just the tele_presence pkg. It is included in other launchers. -->
  
  <!-- a respawn-able listener node -->
  <node name="turtlebot_listen" pkg="tele_presence" type="turtlebot_listen.py" respawn="true" />
  
  <!-- map stuff is all done with rosbridge server? need dynamic map statement?-->
  <node name="turtlebot_map" pkg="tele_presence" type="turtlebot_map.py" respawn="true" />
  
  <!-- node name="tf_tele" pkg="tele_presence" type="tf_tele.py" respawn="false" output="screen" / -->
  <node name="turtlebot_db" pkg="tele_presence" type="turtlebot_db.py" respawn="true" />
  
</launch>
