<launch>
<!-- launch mongod on port 27018. Used for turtlebot_db.py -->
    
  <param name="warehouse_port" value="27018"/>

  <node name="mongo" type="mongo_wrapper_ros.py" pkg="warehouse_ros" output="screen">
    <param name="database_path" value="warehouse_data"/>
    <param name="overwrite" value="false"/>
    <param name="warehouse_port" value="27018"/>
  </node>
</launch>
